﻿@using WebPatient.Models
@model Patient

@{
    ViewBag.Title = "UpdatePatient";
    var dateOfBirth = Model.DateOfBirth.Date.ToString("yyyy-MM-dd");

}

<div class="modal" id="editModal" style="display:block;background-color:rgba(0,0,0,0.5);">
    <div class="modal-dialog" style="width:400px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Редактировать</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UpdatePatient", "Patient", FormMethod.Post, new { @class = "form-horizontal", role = "form",  id = "edit_form" }))
                {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <form class="form-horizontal" role="form">
                @Html.HiddenFor(x => x.PatientID)

                <div class="form-group">
                    <div class="col-sm-10">
                        @Html.LabelFor(x => x.LastName, new { @class = "sm-2 control-label" })
                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "Фамилия" })
                        @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-10">
                        @Html.LabelFor(x => x.FirstName, new { @class = "sm-2 control-label" })
                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "Имя" })
                        @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-10">
                        @Html.LabelFor(x => x.MiddleName, new { @class = "sm-2 control-label" })
                        @Html.TextBoxFor(x => x.MiddleName, new { @class = "form-control", placeholder = "Отчество" })
                    </div>
                    <div class="col-sm-10">
                        @Html.LabelFor(x => x.DateOfBirth, htmlAttributes: new { @class = "sm-2 control-label" })
                        @Html.EditorFor(x => x.DateOfBirth, new { htmlAttributes = new { @class = "form-control", @Value = dateOfBirth } })
                        @Html.ValidationMessageFor(x => x.DateOfBirth, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-10">
                        @Html.LabelFor(x => x.Snils, htmlAttributes: new { @class = "sm-2 control-label" })
                        @Html.EditorFor(x => x.Snils, new { htmlAttributes = new { @class = "form-control", placeholder = "###-###-###-##" } })
                        @Html.ValidationMessageFor(x => x.Snils, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-sm-10">
                        @Html.LabelFor(x => x.Gender, new { @class = "sm-2 control-label" })
                        @Html.EnumDropDownListFor(x => x.Gender, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Gender, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-10" style="padding:20px;">
                            <button type="button" class="btn" style="margin-top:1rem;" id="delete_patient">Удалить</button>
                            <button type="submit" class="btn" style="margin-top:1rem;" >Сохранить</button>
                        </div>
                    </div>


                </div>
            </form>
}
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel-btn" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
 
        $('#cancel-btn').click(function () {
            $('#editModal').css('display', 'none');
        });
        
        $('#edit_form').on('submit', function (e) { 
            e.preventDefault(); 
            var $ser = $(this).serialize();
            $.ajax({
                url: '/Patient/UpdatePatient/', 
                method: 'POST',
                data: $ser, 
                success: function (data) {
                    if (data.hasOwnProperty('success')) {
                        location.reload();
                    } else {
                        $('#modalWrapper').html(data); 
                    }
                },
                error: function (data) {
                    $('#errors').html(data);
                } 
            });
        });
        $('#delete_patient').click(function () {
            if (confirm("Точно удалить ?")) {
                var $ser = $('#edit_form').serialize();
                $.ajax({
                    url: '/Patient/DeletePatient/',
                    method: 'POST',
                    data: $ser,
                    success: function (data) {
                        if (data.hasOwnProperty('success')) {
                            location.reload();
                        } else {
                            $('#modalWrapper').html(data);
                        }
                    },
                    error: function (data) {
                        $('#errors').html(data);
                    }
                });
            }
            
        });
        

        

    });
</script>