﻿@model WebPatient.Models.Patient

@{
    ViewBag.Title = "AddPatient";
}

<div class="row">
    <div class="col-md-4">
        <h2>Новый пациент</h2>

        @using (Html.BeginForm("AddPatient", "Patient", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-sm-10">
                    @Html.LabelFor(x => x.LastName, new { @class = "sm-2 control-label" })
                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "Фамилия" })
                    @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-10">
                    @Html.LabelFor(x => x.FirstName, new { @class = "sm-2 control-label" })
                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "Имя" })
                    @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-10">
                    @Html.LabelFor(x => x.MiddleName, new { @class = "sm-2 control-label" })
                    @Html.TextBoxFor(x => x.MiddleName, new { @class = "form-control", placeholder = "Отчество" })
                </div>
                <div class="col-sm-10">
                    @Html.LabelFor(x => x.DateOfBirth, htmlAttributes: new { @class = "sm-2 control-label" })
                    @Html.EditorFor(x => x.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.DateOfBirth, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-10">
                    @Html.LabelFor(x => x.Snils, htmlAttributes: new { @class = "sm-2 control-label" })
                    @Html.EditorFor(x => x.Snils, new { htmlAttributes = new { @class = "form-control", placeholder = "###-###-###-##" } })
                    @Html.ValidationMessageFor(x => x.Snils, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-10">
                    @Html.LabelFor(x => x.Gender, new { @class = "sm-2 control-label" })
                    @Html.EnumDropDownListFor(x => x.Gender, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Gender, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-6 col-sm-10">
                        <button type="submit" class="btn" style="margin-top:1rem;">Добавить</button>
                    </div>
                </div>


            </div>
        </form>
        }
    </div>
</div>



