﻿@using WebPatient.Models
@model Measurement

@{
    ViewBag.Title = "AddMeasurement";
    var dateOfMeasure = DateTime.Now.Date.ToString("yyyy-MM-dd");
    var patientLastName = "";
    using (var db = new WebPatient.DAL.PatientsContext())
    {
        patientLastName = db.Patients.FirstOrDefault(x => x.PatientID == Model.PatientID).LastName;
    }
    if (Model.Pulse == 0)
    {

    }
}

<!--Модульное окно для отображения формы-->
<div class="modal" id="modal_dialog" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Добавить запись АД (@patientLastName)</h4>
            </div>
            <div class="modal-body">
               @using (Html.BeginForm("AddMeasurement", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "add_measurement_form" }))
                {
                    @Html.AntiForgeryToken()
                    <form class="form-horizontal" role="form">
                        @Html.HiddenFor(x => x.PatientID)
                        <div class="form-group">
                            <div class="col-sm-12">
                                @Html.LabelFor(x => x.MeasuringDate, htmlAttributes: new { @class = "sm-2 control-label" })
                                @Html.EditorFor(x => x.MeasuringDate, new { htmlAttributes = new { @class = "form-control", @Value = dateOfMeasure } })
                            </div>
                            <div class="col-sm-12">
                                @Html.LabelFor(x => x.Pulse, new { @class = "sm-2 control-label" })
                                @if (Model.Pulse == 0)
                                {
                                    @Html.TextBoxFor(x => x.Pulse, new { @class = "form-control", placeholder = "от 55 до 170", @Value = "" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(x => x.Pulse, new { @class = "form-control", placeholder = "Пульс" })
                                }
                                 @Html.ValidationMessageFor(x => x.Pulse, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-12">
                                @Html.LabelFor(x => x.DiastolicPressure, new { @class = "sm-2 control-label" })
                                @if (Model.DiastolicPressure == 0 || Model.DiastolicPressure.ToString() == "")
                                {
                                    @Html.TextBoxFor(x => x.DiastolicPressure, new { @class = "form-control", placeholder = "от 40 до 140", @Value = "" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(x => x.DiastolicPressure, new { @class = "form-control", placeholder = "от 40 до 140" })
                                }

                                @Html.ValidationMessageFor(x => x.DiastolicPressure, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-12">
                                @Html.LabelFor(x => x.SystolicPressure, new { @class = "sm-2 control-label" })
                                @if (Model.SystolicPressure == 0 || Model.SystolicPressure.ToString() == "")
                                {
                                    @Html.TextBoxFor(x => x.SystolicPressure, new { @class = "form-control", placeholder = "от 60 до 200", @Value = "" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(x => x.SystolicPressure, new { @class = "form-control", placeholder = "от 60 до 200" })
                                }
                                @Html.ValidationMessageFor(x => x.SystolicPressure, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </form>
                }
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" form="add_measurement_form">Добавить</button>
                <button type="button" id="cancel-btn" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {

        $('#cancel-btn').click(function () {
            $('.modal').css('display', 'none');
            $('.modal-backdrop').css('display', 'none');
        });

        $('#add_measurement_form').on('submit', function (e) {
            e.preventDefault();
            var $ser = $(this).serialize();
            $.ajax({
                url: '/Home/AddMeasurement/',
                method: 'POST',
                data: $ser,
                success: function (data) {
                    if (data.hasOwnProperty('success')) {
                        location.reload();
                    } else {
                        $('#modalWrapper').html(data);
                        $('#modal_dialog').css("display", "block");
                    }
                },
                error: function (data) {
                    $('#errors').html(data);
                }
            });
        });

        $('#add_measurement_form').validate({
            // other options & rules,
            validClass: "myValidClass"
        });


    });
</script>
