﻿@using WebPatient.Models
@model IEnumerable<Patient>
@Scripts.Render("~/bundles/jquery")
@{
    ViewBag.Title = "Пациенты";
}

@section featured {
    <section class="featured">
        <div>
            <table id="PatientsTable" class="table">
                <tr>
                    <th style="text-align:center;">ФИО</th>
                    <th>@Html.DisplayNameFor(m => m.Gender)</th>
                    <th style="text-align:center;">Возраст</th>
                    <th>@Html.DisplayNameFor(m => m.Snils)</th>
                    <th style="text-align:center;">Действия</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.LastName @item.FirstName @item.MiddleName</td>
                        <td>@item.Gender.ToString()</td>
                        <td align="center">@Math.Truncate(DateTime.Now.Subtract(item.DateOfBirth).TotalDays / 365)</td>
                        <td>@item.Snils</td>

                        <td align="center">
                            <a href="#" onclick="editPatient(@item.PatientID)" title="Редактировать пациента" style="margin-right:10px;">
                                <i class="glyphicon glyphicon-pencil text-danger"></i>
                                <i class="fa fa-pencil text-danger" aria-hidden="true"></i>
                            </a>
                            <a href='@Url.Action("Measurements", "Home",new { PatientID = item.PatientID }, null)' title="Записи пациента" style="margin-right:10px;">
                                <i class="fa fa-address-book-o  text-warning" aria-hidden="true"></i>
                            </a>
                            <a href="#" onclick="addMeasurement(@item.PatientID)" title="Добавить запись измерения АД" style="margin-right:10px;">
                                <i class="fa fa-plus text-success" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </section>
}
<script>


    function editPatient(patientID) {
        $.ajax({
            url: '/Patient/EditPatientModal/',
            data: {
                PatientID: patientID
            },
            success: function (data) {
                $('#modalWrapper').html(data);
            }
        });
    }

    function addMeasurement(patientID) {
        $.ajax({
            url: '/Home/AddMeasurementModal',
            data: {
                PatientID: patientID
            },
            success: function (data) {
                $('#modalWrapper').html(data);
                $('#modal_dialog').modal('show'); //а вот тут вп
            }
        });
    }
</script>

<div id="modalWrapper">

</div>
