﻿@using WebPatient.Models
@Scripts.Render("~/bundles/jquery")
@{
    ICollection<Measurement> mes = ViewBag.Measurements;
    Patient patient = ViewBag.Patient;
    string fullName = $"{patient.LastName} {patient.FirstName} {patient.MiddleName}";


    ViewBag.Title = $"Показания - {fullName}";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h4>@fullName</h4>
            <table id="MeasuremetsTable" class="table text-center">
                <tr>
                    <th class="text-center">Дата измерения</th>
                    <th class="text-center">Пульс</th>
                    <th class="text-center">Диастолическое давление</th>
                    <th class="text-center">Систолическое давление</th>
                    <th></th>
                </tr>
              
                    @foreach (var item in mes ?? Enumerable.Empty<Measurement>())
                    {
                    <tr>
                        <td>@item.MeasuringDate.ToString("dd.MM.yyyy")</td>
                        <td>@item.Pulse</td>
                        <td>@item.DiastolicPressure</td>
                        <td>@item.SystolicPressure</td>
                        <td>
                            <a href="#" onclick="delteMeasure(@item.MeasurementID)" title="Удалить запись">
                                <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    }
                
               
            </table>
        </div>
    </section>
}

<script>
    function delteMeasure(MeasurementID) {
        if (confirm("Точно удалить ?")) {
            $.ajax({
                url: '/Home/DeleteMeasure/',
                method: 'POST',
                data: {
                    MeasurementID: MeasurementID
                },
                success: function (data) {
                    location.reload();
                },
                error: function (data){
                    alert(data);
                }
            });
        }
        
    }
</script>