﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пациенты</title>
    @Styles.Render("~/bundles/css")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <a href="../" class="navbar-brand">Тестовое задание</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">@Html.ActionLink("Пациенты", "Index", "Home", new { @class = "nav-link" })</li>
                <li class="nav-item active"> <a class="nav-link" href="@Url.Action("AddPatient", "Patient", new { id = UrlParameter.Optional })">Добавить пациента</a></li>
            </ul>

        </div>
    </nav>
    <div class="container">
        @RenderBody()
        <hr />
        @RenderSection("featured", required: false)
        <footer>
            <p>&copy; @DateTime.Now.Year - Тестовое задание Комтек</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
